* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.logo{
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: white;
}

.logo li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 15px 5px 0px;
}

.logo li a{
    color: rgba(209,209,209,255);
    text-decoration: none;
    font-size: 12px;

}

.img-logo{
    width: 85px;
}

.txt-area{
    margin-bottom: 12px;
}

.banner{
    background-image: url("../img/banner.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 230px;
    background-position: center;
    border-radius: 10px;
}

.banner-txt{
    display: inline-block;
    width: 800px;
    margin-top: 125px;
    margin-left: 30px;
}

.banner-txt-big{
    font-size: 17px;
    width: 60%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fruktur', cursive;
    font-family: 'Lato', sans-serif;

}

.banner-txt-small{
    font-size: 10px;
    width: 60%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fruktur', cursive;
    font-family: 'Lato', sans-serif;
}

.maxi-box{
    margin-bottom: 5px;
}

.clearfix::after{
    content: "";
    clear:both;
    display: table;
}

.head-float{
    float: inline-start;
    width: 100%;
    height: 58px;
}

.inner-float-small{
    float: left;
    width: 20%;
    border: 7px solid rgba(5,135,246,255);

}

.inner-float{
    float: left;
    width: 60%;

}

.footer{
    margin-bottom: 12px;
}

.debug .container {
    border: 2px dashed red;
    
}

.debug .logo{
  /*  background-color: rgba(229,121,230,255); 
    height: 70px; */
}

.debug .txt-area{
   /* background-color: rgba(225,214,122,255);*/
    height: 230px;
}


.debug .maxi-box{
    background-color: rgba(171,207,231,255);
    height: 320px;
}

.debug .head-float{
    background-color: black;
}

.debug .inner-float{
    height: 262px;
    border-top: 10px solid rgba(5,135,246,255);
    border-bottom: 10px solid rgba(5,135,246,255);
}

.debug .inner-float-small{
    height: 262px;
    border: 10px solid rgba(5,135,246,255);
}

.debug .footer{
    background-color: rgba(136,1,254,255);
    height: 30px;
}